<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Detail sur un chauffeur</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h4>Informations personnelles</h4>
        <p class="ligne"><strong>Nom</strong> : KINDO</p>
        <p class="ligne"><strong>Prenom</strong> : Oumar</p>
        <p class="ligne"><strong>Telephone</strong> : 55 87 10 59</p>
        <p class="ligne"><strong>Salaire</strong> : 100000 FCFA</p>
        <mat-divider></mat-divider>
        <h4>Informations sur le vehicule</h4>
        <p class="ligne"><strong>Vehicule</strong> : 78AG965/65ZE345</p>
        <p class="ligne"><strong>Categorie</strong> : Poids Lourds</p>
        <p class="ligne"><strong>Couleur</strong> : BLANC/NOIRE</p>
        <p class="ligne"><strong>Marque</strong> : KIA</p>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn">Retour</button>
        <button mat-raised-button color="primary">Imprimer</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>